name: Release

on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: ci
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Set git credentials
        env:
          GH_USER: ${{ secrets.GH_USER }}
          GH_EMAIL: ${{ secrets.GH_EMAIL }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git config user.name "$GH_USER"
          git config user.email "$GH_EMAIL"
          git remote set-url origin "https://$GH_TOKEN@github.com/effervescentia/bltx"
      - name: Build
        run: bun run build
      - name: Release
        run: |
          npm ci
          bun run release
